<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/f64eaac00e.js" crossorigin="anonymous"></script>
    <title>LinkedList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    


    <script type="text/javascript">
      window.splash_pic1 = "<%= image_url('splash_pic1.svg') %>";
      window.splash_pic2 = "<%= image_url('splash_pic2.png') %>";
    </script>
  </head>

  <body>
  
    <%= yield %>
  </body>
</html>
